<div class="dashboard-container">
  <header class="dashboard-header">
    <h1 class="main-title">Track Your Debt</h1>
    <div class="dropdown">
      <button class="primary-button dropdown-btn">
        Start New Task
        <span class="dropdown-icon">&#9660;</span>
      </button>
      <div class="dropdown-content">
        <a href="#" (click)="startTask('Loan')">Loan</a>
        <a href="#" (click)="startTask('Mortgage')">Mortgage</a>
      </div>
    </div>
  </header>

  <section class="grid-section">
    <div class="card skill-levels-card">
      <h2>Card List</h2>
      <app-card-list *ngIf="showCardList" [cards]="cards"></app-card-list>
    </div>

    <div class="card suggested-tasks-card">
      <app-card-form (formSubmitted)="onFormSubmit($event)"></app-card-form>
    </div>
  </section>
</div>
